

<h1>Expected(?) Games</h1>

<br>
<table>
  <thead>
    <tr>
     <%# <th>№</th>%>
      <th>Name</th>
      <th>Developer</th>
      <%#<th>Added date</th>%>
      <th>Expected release date</th>
      <th>Actual release date</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Trailer</th>
      <th>Platform</th>
      <th>Note</th>
      <th>Wanna play</th>
      <th></th>
    </tr>
  </thead>
  <% a=0 %>
  


  <tbody>
    <% @games.each do |game| %>
      <tr class=<%= cycle('even','odd') %>>
       <%# <td class=npp><%= a+=1 </td>%>
        <td class=gamename><%= game.name_g %></td>
        <td><%= game.developer %></td>
        <%#<td><%= game.date_added </td>%>
        <td><%= release_date(game) %></td>
        <td><%= game.release.nil? ? "Ждём" : game.release.date%></td>


        <td><%= game.genre %></td>
        <td><%= game.description %></td>
        <td><%= link_to "Watch trailer", game.trailer, :target => "_blank" %></td>
        <td><%= game.platform %></td>
        <td><%= game.note %></td>
        <td><%= game.wanna_play %></td>
        <td><%= link_to 'Show', game %>  <%= link_to 'Edit', edit_game_path(game) %>  <%# link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @games, class: "digg_pagination" %>
<br>

<%= link_to 'New Game', new_game_path %> |
<%= link_to 'Watch list of releases', releases_path %>
