

<h1>
   <%= @game.name_g %>
</h1>

<p>

<%= image_tag(get_image(@game.trailer))%>
</p>

<p>
  <strong>ID</strong>
  <%= @game.id %>
</p>
<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Added date:</strong>
  <%= @game.date_added %>
</p>

<p>
  <strong>Expected release date:</strong>
  <%= release_date(@game) %>
</p>

<p>
  <strong>Actual release date:</strong>
  <%= @game.release.nil? ? "Ждём" : @game.release.date %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= link_to "Watch trailer", @game.trailer, :target => "_blank" %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Note:</strong>
  <%= @game.note %>
</p>

<p>
  <strong>Wanna play:</strong>
  <%= @game.wanna_play %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
