<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @book.autor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Reading time:</strong>
  <%= @book.reading_time %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
