<p id="notice"><%= notice %></p>

<h1>Listing Releases</h1>

<table>
  <thead>
    <tr>
      <th>Game n</th>
      <th>Date</th>
      <th>Connect to</th>
      <th>Platform</th>
      <th>External link</th>
      <th>Note</th>
    
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.game_n %></td>
        <td><%= release.date %></td>
        <td><%= release.game_id %></td>
        <td><%= release.platform %></td>
        <td><%url = "http://ru.riotpixels.com/#{release.link}"%>
          <%= link_to(release.game_n, url, target: "blank") %>
          
        </td>
        <td><%= release.note %></td>
       
        <td><%= link_to 'Show', release %> 
          <%= link_to 'Edit', edit_release_path(release) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
