
<h1>Releases</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Connected to</th>
      <th class="dont_be_huge">Platform</th>
      <th>External link</th>
      <th>Note</th>
    
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr class=<%= cycle('even','odd') %>>
       
        <td><%= release.game_n %></td>
        <td><%= release.date %></td>
        <td><%= release.game_id %></td>
        <td class="dont_be_huge"><%= release.platform %></td>
        <td><%url = "http://ru.riotpixels.com/#{release.link}"%>
          <%= link_to(release.game_n, url, target: "blank") %>
          
        </td>
        <td><%= release.note %></td>
       
        <td><%= link_to 'Show', release %> 
          <%= link_to 'Edit', edit_release_path(release) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @releases, class: "digg_pagination" %>
<br>

<%= link_to 'New Release', new_release_path %> |
<%= link_to 'Back to games list', games_path %>