<p id="notice"><%= notice %></p>

<h1>Listing Releases</h1>

<table>
  <thead>
    <tr>
      <th>Game n</th>
      <th>Date</th>
      <th>Platform</th>
      <th>External link</th>
      <th>Note</th>
    
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.game_n %></td>
        <td><%= release.date %></td>
        <td><%= release.platform %></td>
        <td><%= release.link %></td>
        <td><%= release.note %></td>
       
        <td><%= link_to 'Show', release %> 
          <%= link_to 'Edit', edit_release_path(release) %>
        <%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
